<% 
    let link = '';
    if(list['path'].slice(-1) != '/'){
        link = list['path'] + '/';
    }
%>
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
    <html>

    <head>
        <title>Index of
            <%= list['path'] %>
        </title>
    </head>

    <body>
        <h1>Index of
            <%= list['path'] %>
        </h1>

        <table>
            <tr>
                <td><a href="/">Parent Directory</a></td>
            </tr>

            <% for(let file of list['files']) {%>
                <% let path = link + file; %>
                    <tr>
                        <td>
                            <a href="<%= path %>">
                                <%= file %>
                            </a>
                        </td>
                    </tr>
                    <% } %>

        </table>

        <hr>
        <address><%= config['title'] %> <%= config['version'] %> <%=list['os'] %> (Server) at <%=list['host'] %></address>
    </body>

    </html>